<launch>

  <!-- Launch simulation -->
  <include file="$(find racecar_simulator)/launch/simulate.launch"/>

  <!-- Launch drive control -->
  <include file="$(find drive_control)/launch/drive_control.launch"/>

  <!-- Launch camera vision -->
  <!-- <include file="$(find vision)/launch/object_detection.launch"/> -->
  
  <!-- Launch localization -->
  <!-- <include file="$(find localization-solution)/launch/localize_simulation.launch"/> -->

  <!-- Launch learning module -->
  <node pkg='learning' name='learning' type='learning.py' output='screen' />

</launch>